<div class="row">
  <div class="col-3">
    <div class="card mb-3 rounded-3 shadow-sm">
      <div class="card-header bg-secondary text-white py-3">
        <h4 class="my-0 fw-normal">Clientes</h4>
      </div>
      <div class="card-body">
        <p>
          Consulta de clientes cadastrados.
        </p>
        <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/clients">Acesso aos clientes</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-4">
        <div class="card mb-3 rounded-3 shadow-sm">
          <div class="card-header bg-secondary text-white py-3">
            <h4 class="my-0 fw-normal">Livros</h4>
          </div>
          <div class="card-body">
            <p>
              Consulta de livros.
            </p>
            <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/books">Acesso aos livros</a>
          </div>
        </div>
      </div>
  </div>
</div>
